@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding:30px;
}
.top-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.right-side ul {
  display: flex;
}
.right-side li {
  list-style: none;
  margin-left: 25px;
}
.right-side a {
  text-decoration: none;
  color: black;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.content-part h1 {
  font-size: 50px;
}
.content-part p {
  margin-top: 10px;
}
.primary-btn {
  background-color: #f10554;
  color: white;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.image-part img {
  width: 100%;
}
