@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.top-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.right-side ul {
  display: flex;
}
.right-side li {
  list-style: none;
  margin-left: 25px;
}
.right-side a {
  text-decoration: none;
  color: black;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.content-part h1 {
  font-size: 50px;
}
.content-part p {
  margin-top: 10px;
}
.primary-btn {
  background-color: #f10554;
  color: white;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.image-part img {
  width: 100%;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding: 20px 0;
}
.single-company {
  margin: 0 auto;
}
.single-company img {
  width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
}
.our-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.single-product {
  max-width: 250px;
  padding: 10px;
  box-shadow: 5px 2px 10px 5px #f7f2f2;
  border-radius: 5px;
}
.single-product img {
  width: 100%;
  border-radius: 5px;
}
.rating {
  display: flex;
  justify-content: start;
  font-size: 12px;
}
.rating .rating-star {
  margin-right: 10px;
}
.fa-star {
  color: orange;
}
.product-details {
  font-size: 12px;
}
